#form_comment {
    display: none;
}

.c-user__photo:hover .c-user__bg {
    top: 0;
}

.c-user__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -100%;
    background: url(/img/icon/photo.svg) center center no-repeat #000;
    background-size: 60%;
    opacity: .75;
    -webkit-transition: top .3s linear .1s;
    transition: top .3s linear .1s;
}

.author_post{
    text-align: center;
}

.galleria{
    max-width: 600px;
    height: 400px;
    background: #000
}
